[concise] true

[path] %appdata%\..\local\nvim
[path] C:\workspace\markdown
[path] C:\workspace\c\fisch
[path] c:\workspace\c\esp8266_udp_server
[path] C:\workspace\c\game_gen
[path] C:\workspace\c\term_docs
[path] C:\workspace\c\text_editor
[path] C:\workspace\odin\01_tests
[path] C:\workspace\odin\oloc
[path] C:\workspace\odin\term-tools
[path] C:\workspace\odin\03_game\xcom
